/** Manga Detail **/

.manga {
    border: none;
}

.manga .card-body {
    padding: 0px;
}

.book-card {
    width: 280px;
    padding: 16px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-card .book-card__cover {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
}

.book-card .book-card__book {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
}

.book-card .book-card__book-front {
    position: absolute;
    height: 100%;
}

.book-card .book-card__book-back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px);
}

.book-card .book-card__book-side {
    position: absolute;
    top: 5px;
    bottom: 2px;
    right: -29px;
    width: 40px;
    background-size: 5px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg);
}

.book-card .book-card__img {
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
}

.book-card .book-card__title {
    font-size: 1em;
    margin-bottom: 5px;
}

.book-card:hover .book-card__book {
    transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -10px);
}

.book-card:hover .book-card__book-back {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}

.book-card:hover .book-card__book-side {
    opacity: 1;
}

.chapter {
    color: #999;
}